<div class="container">
<div class="row">
  <div class="col-md-6 offset-md-3">
<h1>Editing Comment</h1>

<%= render 'form', comment: @comment %>

<%= link_to 'Show', @comment %> |
<%= link_to 'Back', roast_path %>
</div>
</div>
</div>