<div class="container">
  <center><h1>Add new Green beans!</h1></center>
  <br>
  <div class="d-flex justify-content-center">
    <%= render 'form', stock: @stock %>
    <%= link_to 'Back', stocks_path %>
  </div>
  
</div>