<div class="container">
  <div class="row">  
    <div class="col-md-6">  
      <div class="section-heading">
        <h1>Aeropress</h1>
      </div>
      <div class="section-body">
        <h2>(upside down method)</h2>
        <p>Boil water and measure out coffee. 16 grams coffee to 200 grams of water works well.</p>
        <p>Wet the paper filter</p>
        <p>With the Aeropress upside down and sitting on the scale, add the coffee grounds. Set the scale to 0</p>
        <p>Start your timer and then immediately start pouring. Pour quickly making sure that all the coffee grounds are wet. Pour to 200grams on the scale.</p>
        <p>Give the coffee a quick stir, replace the filter cap <strong>tightly</strong> with paper filter inside. Then wait until the timer reaches 1 minute and 30 seconds.</p>
        <p>Quickly flip the Aeropress over and ontop of glass. And gently but firmly press down on the plunger. If the cap is not on tightly, hot coffee liquid will spurt out.</p>
        <p>Once you hear the air hissing out, stopping pressing and serve.</p>
      </div>
    </div>
    <div class="col-md-6">
      <img class="section-image" src="assets/aeropress_7.webp"></img>
    </div>
  </div>
</div>