<div class="container">
  <div class="heading">
    <center><h1>Brewing Guides</h1></center>
  </div>
  <br/>
  <br/>
  <div class="methods">
    <div class="row">
      <div class="col-md-3">
      <%= link_to hario_path do %>  
        <div class="card">
          <img src="assets/hario-v60.jpg" class="card-img-top" style="height: 15rem;">
          <div class="card-body">
            <h5 class="card-title">V60 Pour Over</h5>
            <p class="card-text">Brew Guide</p>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-md-3">
      <%= link_to stovetop_path do %>
        <div class="card">
          <img src="assets/Moka-Pot.jpg" class="card-img-top" style="height: 15rem;">
          <div class="card-body">
            <h5 class="card-title">Stove Top</h5>
            <p class="card-text">Brew Guide</p>
          </div>
        </div>
        <% end %>
      </div>
    
    
      <div class="col-md-3">
      <%= link_to aeropress_path do %>
        <div class="card">
          <img src="assets/aeropress_7.webp" class="card-img-top" style="height: 15rem;">
          <div class="card-body">
            <h5 class="card-title">Aeropress</h5>
            <p class="card-text">Brew Guide</p>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-md-3">
      <%= link_to french_press_path do %>
        <div class="card">
          <img src="assets/french.png" class="card-img-top" style="height: 15rem;">
          <div class="card-body">
            <h5 class="card-title">French Press</h5>
            <p class="card-text">Brew Guide</p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


  
