<div class="container">
  <div class="row">  
    <div class="col-md-6">  
      <div class="section-heading">
        <h1>Delter Press</h1>
      </div>
      <div class="section-body">
        
      </div>
    </div>
    <div class="col-md-6">
    <br/><br/><br/>
      <%= image_tag ("https://cdn.shopify.com/s/files/1/0229/4212/2061/articles/delter-coffee-press-delter-4_704x704_5ef3452e-8b77-4cd4-a84b-7585ad972359_1600x.jpg?v=1570144120"), class: "section-image" %>
    </div>
  </div>
</div>