<div class="container">
  <div class="row">  
    <div class="col-md-6">  
      <div class="section-heading">
        <h2>French Press</h2>
      </div>
      <div class="section-body">
        <p>Coming Soon</p>
      </div>
    </div>
    <div class="col-md-6"> 
      <img class="section-image" src="https://raw.githubusercontent.com/dancorpx/roastlogs/master/app/assets/images/french.png"></img>
    </div>
  </div>
</div>