<div class="container">
  <div class="row">  
    <div class="col-md-6">  
      <div class="section-heading">
        <h2>French Press</h2>
      </div>
      <div class="section-body">
        <p>Coming Soon</p>
      </div>
    </div>
    <div class="col-md-6"> 
      <%= image_tag ("french.png"), class: "section-image" %>
    </div>
  </div>
</div>