<div class='container'>
  <div class="row">
    <div class="col-md-6">
      <div class="section-heading">
        <h1>Hario V60</h1>
      </div>
      <div class="section-body">
        <p>Ratio: 16grams of coffee to 200grams of water</p>
        <p>Water temp: 94 degrees C</p>
        <p>Initial pour: 50 grams of water, allow to bloom</p>
        <p>At 30 seconds continue pour. Slowly pour in a circular motion. Keep water level consistent.</p>
        <p>Finish time: 2 minutes.</p>
      </div>
    </div>
    <div class="col-md-6">
      <img class="section-image" src="https://raw.githubusercontent.com/dancorpx/roastlogs/master/app/assets/images//hario-v60.jpg"></img>
    </div>
  </div>
</div>