<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="heading">
        <center><h1>Welcome to RoastHub</h1></center>
      </div>  
      <br/>
      <br/>
      <br/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <em>Green beans in stock:</em>
      <br/>
      <br/>
      <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Bean</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Uganda Washed</th>
        <td>2kg</td>
      </tr>
      <tr>
        <th scope="row">Ethiopia Yirg Natural</th>
        <td>1.5gks</td>
      </tr>
    </tbody>
      </table>
    </div>
    <div class="col">
      <%= image_tag 'chart.jpg', style: 'height: auto; width: auto' %>
    </div>
    
  </div>
</div>
