<center>
<div="heading"><h1>Roasting Resources</h1></div>
</center>

<% @items.each do |item| %>
    <br/><%= item.title %><br/>
    <%= item.link %><br/>
    <%= item.content %><br/>
    <%= link_to 'Open', item_path(item), class: "btn btn-primary" %>
<% end %>