<div class="container">
  <div class="row">  
    <div class="col-md-6">  
      <div class="section-heading">
        <h1>Stovetop</h1>
      </div>
      <div class="section-body">
        <p>Boil water in an electric kettle</p>
        <p>Pour boiling water to the water chamber. Fill to just below the valve.</p>
        <p>Measure out the coffee. About 16grams works well for a small Stovetop. Just fill the basket with coffee and level it off. Don't apply any pressure to the basket like you might for an espresso machine</p>
        <p>Place basket onto the water chamber, and screw on the top chamber. Make sure it is screwed on tight.</p>
        <p>Place on the stove on a low to medium heat. Open the top so that you can see when the coffee is brewing.</p>
        <p>As the coffee level reaches halfway to three quarters up the center pipe, turn the heat down, and then off. You might need to close the lid to prevent coffee spitting out.</p>
        <p>Serve</p>

      </div>
    </div>
    <div class="col-md-6">
      <img class="section-image" src="assets/Moka-Pot.jpg"></img>
    </div>
  </div>
</div>