<div class="col-md-1">
      <div class="card" style="width: 18rem;">
        <img src="https://raw.githubusercontent.com/dancorpx/roastlogs/master/app/assets/images/french.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">French Press</h5>
          <p class="card-text">Brew Guide</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>