<div class="container">
    <h1><%= @item.title %></h1>
    <br/>
    <%= @item.link %>
    <%= @item.content %>
    <br/>
    <%= link_to 'Delete', @item, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger"%>
</div>