<div class="heading">
    <h1><%= @item.title %></h1>
</div>
<div class="container">
<br>
<a class="text-danger" href="<%= @item.link %>" target="_blank"><%= @item.link %></a>


<p><%= @item.content %></p>