/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import "components/index";
 @import "components/card";
 @import "brewing";
 @import "home";
 @import "items";
 @import "tasting";

 // Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

body {
  font-family: 'raleway', sans-serif;
  background: #F9F9F9;
}

// devise views
#devise-jumbo {
  background: #2C3532;
  color: white;
    box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0em;
}
.devise-background {
  background: linear-gradient(to left, #2E6466 5%, rgba(100, 100, 41, 1));
}
#devise-logo {
  height: 15vh;
  width: auto;
}