.heading {
  // text-decoration-line: underline;
  background: linear-gradient(rgba(123,158,180,0.2) 100%, rgba(35,36,61,0.2) 0%), url(/assets/beans-heading.jpeg);
  background-position: center;
  height: 25vh;
  color: white;
  align-items: center;
  position: relative;
  text-align: center;
  padding: 0.05rem 0;
}

@media only screen and (min-width: 445px) {
  .heading {
    padding: 1.75rem 0;
  }
}

.methods {
  height: 60vh;
}

img {
  max-height: 40vh;
}

.section-hario {
  background-color: #E3F2FD;
  padding-left: 14vw;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.section-aeropress {
  background-color: #E3F2FD;
  padding-left: 14vw;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.section-image {
  max-width: 90vw;;
}
