.heading {
  text-decoration-line: underline;
}

.methods {
  height: 60vh;
}

img {
  max-height: 40vh;
}

.section-hario {
  background-color: #E3F2FD;
  padding-left: 14vw;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.section-aeropress {
  background-color: #E3F2FD;
  padding-left: 14vw;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.section-image {
  max-width: 90vw;;
}
