// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-button {
    position: fixed;
    left: 50px;
    bottom: 50px;
    z-index: 2;
  }

.form-required { 
    display: none; 
}

.item {
    background-color: #E3F2FD;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 1%;
}