.countries {
  height: auto;
  padding-bottom: 5vh;
}

img {
  max-height: 40vh;
}


.africa-section {
  background-color: #D2E9E3;
  padding: 1em;
}

.camerica-section {
  background-color: #D8B08C;
  padding: 1em;
}

.samerica-section {
  background-color: #F7CA9A;
  padding: 1em;
}

.asia-section {
  background-color: #37787a;
  padding: 1em;
}

.card-img-top { 
  height: 0rem;
}

@media only screen and (min-width: 768px) {
  .card-img-top { 
    height: 15rem;
  }
}

//  style: "height: 15rem;"
//  style: "height: 15rem;"
//  style: "height: 15rem;"